// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// dark mode gray-800 based off system settings
// @media (prefers-color-scheme: dark) {
//     $gray-800: #bbbbbb !important;
// }

// Override Bootstrap color system

// $orange: #434879;
$orange: #365583;

// Override Bootstrap default state colors

$primary: $orange;
